.logo-brand {
    width: 100px;
    height: 45px;
    border-radius: 10px;
}

.logo-brand-footer {
    width: 100px;
    height: 45px;
}

.navbar {
    background-color: #FFA5A5;
    border-bottom: #bd0d0d solid 2px;
}

.nav-link {
    color: #4e4e4e;
    font-weight: bold;
}

.nav-link :active {
    color: #ffffff;
    font-weight: bold;
}

#logoutbtn {
    background-color: #FF5757;
    border-color: #bd0d0d;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

#d-down-selector {
    width: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    display: none;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}


.dropdown-submenu:hover>.dropdown-toggle::after {
    border-left-color: #007bff;
}

#category-selector-text {
    background-color: #FF5757;
    border-color: #bd0d0d;
    font-weight: bold;
}

#search-btn {
    background-color: #FF5757;
    border-color: #bd0d0d;
    color: #ffffff;
    font-weight: bold;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}