.logo-brand {
    width: 100px;
    height: 45px;
    border-radius: 10px;
}

.logo-brand-footer {
    width: 100px;
    height: 45px;
}

.navbar {
    background-color: #FFA5A5;
    border-bottom: #bd0d0d solid 2px;
}

.sub-navbar-container {
    margin-top: 10px;
}

#sub-navbar {
    border-radius: 10px;
    background-color: #FFA5A5;
    border-bottom: #bd0d0d solid 1px;
    width: 95%;
    margin: auto;
    text-shadow: 0px -1px 0 #FFA5A5, 1px -1px 0 #FF5757, -1px 1px 0 #C44141, -2px 1px 0 #C44141;
}

#sub-navbar .nav-link {
    color: #ffffff;
    font-weight: bold;
    border-left: 2px solid #ffffff;
    border-left-width: 3px;
    border-style: double;
}

#sub-navbar .nav-link:hover {
    color: #FF5757;
    font-weight: bold;
    text-shadow: 0px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -2px 1px 0 #ffffff;
    font-size: 15px;
}

#sub-navbar .nav-item .active {
    color: #FF5757;
    font-weight: bold;
    text-shadow: 0px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -2px 1px 0 #ffffff;
    font-size: 15px;
}

.dropdown-item {
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.nav-link :active {
    color: #ffffff;
    font-weight: bold;
}

.divider {
    aspect-ratio: 1000/40;
    background: no-repeat center;
    background-size: cover;
}

.divider2 {
    aspect-ratio: 1000/200;
    background: no-repeat center;
    background-size: cover;
}

.wave-1 {
    background-image: url(../images/layered-p1.svg);
}

.wave-2 {
    background-image: url(../images/layared-p2.svg);
}

#first-bg {
    background-color: #FFE5E5;
}

.second-bg {
    background-color: #FFE5E5;
}

#third-bg {
    background-color: #C44141;

}

#btn-out {
    background-color: #FF5757;
    border-color: #bd0d0d;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 5px 8px rgba(255, 69, 69, 0.171);
}

#paginated-card .btn {
    background-color: #FF5757;
    border-color: #bd0d0d;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 5px 8px rgba(255, 69, 69, 0.171);
}

#btn-out:hover {
    background-color: #e03232;
}

#search-btn {
    background-color: #FF5757;
    border-color: #bd0d0d;
    color: #ffffff;
    font-weight: bold;
}

#search-btn:hover {
    background-color: #e03232;
}

#category-selector-text {
    background-color: #FF5757;
    border-color: #bd0d0d;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 5px 8px rgba(255, 69, 69, 0.171);
}

.page-link {
    color: #4e4e4e;
    font-weight: bold;
}

.page-item.active .page-link {
    color: #ffffff;
    background-color: #e03232;
    font-weight: bold;
    border-color: #bd0d0d;
    box-shadow: 0 5px 8px rgba(255, 0, 0, 0.541);
}

.page-link:hover {
    color: #ffffff;
    background-color: #e03232;
    font-weight: bold;
}

.page-link .active {
    color: #ffffff;
    background-color: #e03232;
    font-weight: bold;
}


#category-selector-text:hover {
    background-color: #e03232;
}

.search-icon {
    width: 25px;
    height: 25px;

}

#toast-img {
    width: 20px;
    height: 20px;
}

.toast-header {
    background-color: #FF5757;
    color: #ffffff;

}

#card-container .card {
    width: 14rem;
    padding: 10px;
    margin-left: 12px;
    margin-top: 10px;
}

#pagination-container {
    margin: 10px;
}

#card-outer-container {
    width: 95%;
    margin: auto;
}

.user-name {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 0 #f5a0a0, 1px 1px 0 #f55b5b, 1px 1px 0 #af2f2f, 1px 1px 0 #681414;
    padding: 2px;
    background-color: #FF5757;
    border-radius: 5px;
}

.user-name-head {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 0 #f5a0a0, 1px 1px 0 #f55b5b, 1px 1px 0 #af2f2f, 1px 1px 0 #681414;
    margin-right: 10px;
}

.profile-image {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
}

#d-down-selector {
    width: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    display: none;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}


.dropdown-submenu:hover>.dropdown-toggle::after {
    border-left-color: #007bff;
}



.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

@media screen and (max-width: 540px) {
    .nav-link {
        color: #ffffff;
        font-weight: bold;
        border-left: none;
        border-bottom: 2px solid #ffffff;
        border-style: double;
        border-bottom-width: 1px;

    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {}

/*Viewport Sizes*/
/*Custom Fonts Import*/
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Vaseline\ Extra.ttf') format('truetype');

}